{% extends "base.html" %}

    
    {% block content %}
    <body>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <link rel="stylesheet" href="./static/CSS/style.css">
      <!-- Camera -->
      <main id="camera">
          <div id="container">
              <!-- Camera sensor -->
              <canvas id="camera--sensor"></canvas>
              <!-- Camera view -->
              <video id="camera--view" autoplay playsinline></video>
              <!-- Camera output -->
              <img src="//:0" alt="" id="camera--output">
              <!-- Camera trigger -->
              <button id="prediction">PREDICTION: {{ result }}</button>
              <button id="camera--trigger">SCAN</button>
          </div>
      </main>
      <!-- Reference to your JavaScript file -->
      <script src="./static/app.js"></script>
    </body>
    {% endblock %}