{% extends "base.html" %}

    
    {% block content %}
      
      <link rel="stylesheet" href="./static/CSS/style.css">
      <!-- Camera -->
      <main id="camera">
          <div id="container">
              <!-- Camera sensor -->
              <canvas id="camera--sensor"></canvas>
              <!-- Camera view -->
              <video id="camera--view" autoplay playsinline></video>
              <!-- Camera output -->
              <img src="//:0" alt="" id="camera--output">
              <!-- Camera trigger -->
          </div>
          <button id="prediction">Process picture</button>
          <button id="camera--trigger" type="submit">take a picture</button>
         
      </main>
      <!-- Reference to your JavaScript file -->
      <script src="./static/app.js"></script>
    {% endblock %}