{% extends "base.html" %}

    
    {% block content %}
    <h1 style="color:white">Your clothes</h1>
    <div class="card" style="width: 35rem;">
        <img src="{{ picture_name }}" id="my-loaded-image" class="card-img-top" alt="no image">
        <div class="card-body">
          <h5 class="card-title" style="color:darkcyan">Clothes detecttion</h5>
          <p class="card-text">File : {{ filename }}</p>
          <h4 class="card-text" style="color:crimson;">Detected : {{ prediction }}</h4>
          <div>
            <!-- <form action="/submitform" method="post" enctype="multipart/form-data"> -->
            <a href="/upload" id="button-loaded-image"  class="btn btn-primary" style="width:35%;margin-top: 20px;">upload another picture</a>
            <a href="/camera" id="button-loaded2-image"  class="btn btn-primary" style="width:40%;margin-top: 20px;">take another picture from the camera</a>
          </div>
        </div>
    </div>
    <div>
      <p >
    
      </p>
    </div>
        
    {% endblock %}