{% extends "base.html" %}

    
    {% block content %}
    <div>
        <h1>Sustainable fashion</h1>
        <div class="card mb-3" style="width: 50%;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color:rgb(2, 52, 88);font-weight: bold;">Project Zelus</h5>
              <p class="card-text" style="color:rgb(10, 56, 116);margin: 10px;">
                Sustainable fashion (also known as eco-fashion) is an all-inclusive term describing products, processes, activities, and actors (policymakers, brands, consumers) aiming to achieve a carbon-neutral fashion industry, built on equality, social justice, animal welfare, and ecological integrity. Sustainable fashion concerns more than just addressing fashion textiles or products. It addresses the entire manner in which clothing is produced, who produces it, and how long the life span of a product is before it reaches the landfill. This sustainable movement combats the large carbon footprint that the fashion industry and fast fashion have created by reducing greenhouse gas emissions. Reducing the environmental impact of fashion can combat air pollution, water pollution and overall climate change that could possibly prevent millions of premature deaths over the next century.
                Sustainable fashion deals with considering fashion from the perspective of a variety of stakeholders ranging from contemporary producers and consumers of clothes, to future producers and consumers.
                In 2020, it was found that an approach of voluntarily self-directed reform of textile manufacturing supply chains to substantially reduce the environmental impact of fashion by large companies themselves has failed. Measures to reform fashion towards sustainability beyond marketing campaigns of greenwashing may need to involve policies for the creation and enforcement of standardized certificates along with related import control and subsidy and eco-tariffs-like interventions.
              </p>
              <p class="card-text"><small class="text-muted">Last updated June 8 2022</small></p>
            </div>
          </div>  
    </div>
    {% endblock %}


